html{
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
}
body{
  padding-top: 5.25rem;
}
h2{
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32,64,86);
}
h5{
  font-size: 1.5rem;
  font-weight: bold;
}
p{
  font-size: 1.5rem;
  color: rgb(74,74,74);
}
.cards{
  background-color: black;
  border: 4px solid #ffffff;
  border-radius: 8px;
  height: 12.5rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms
}
.cards:active, .cards:hover{
  cursor: default;
  background-color: darkgrey;
  animation-iteration-count: infinite;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
#win{
  text-align: center;
  color: orange;
  font-size: 10rem;
}
#hideMsg{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
span{
  color: red;
}
.btn-lg{
  width: 100%;
  margin-bottom: 1rem;
}
#dropdownMenuButton{
  width: 100%;
}
.progress {
  width: 100%;
  margin-bottom: 1rem;
}
