html{
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
}
h2{
  margin-bottom: 2.5rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32,64,86);
}
h3{
  font-size: 3rem;
}
h5{
  font-size: 3.5rem;
  font-weight: bold;
  color: rgb(166,95,8);
}
p{
  font-size: 3rem;
  color: rgb(74,74,74);
}
.cards{
  background-color: rgb(12,35,64);
  border: 4px solid #ffffff;
  border-radius: 2rem;
  height: 12.5rem;
  border-color: rgb(255,216,143);
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms
}
.cards:active, .cards:hover{
  cursor: default;
  background-color: rgb(43,126,229);
  animation-iteration-count: infinite;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
#win{
  text-align: center;
  color: orange;
  font-size: 10rem;
}
#hideMsg{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
span{
  color: black;
  font-size: 3rem;
}
.btn-lg{
  width: 100%;
  margin-bottom: 1rem;
}
#dropdownMenuButton{
  width: 100%;
}
.progress {
  height: 5rem;
  margin-bottom: 2rem;
}
.square{

}
.button{
    background-color: transparent;
    border: 4px solid #ffffff;
    border-radius: 8px;
    height: 9rem;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    font-size: 3rem;
}
.btn-secondary{
  background-color: black;
  border-color: white;
  height: 7rem;
  min-width: 10rem;
  border-radius: 1.25rem;
}
.btn{
  font-size: 2rem;
}
#customsave{
  height: 7rem;
  border-radius: 1.25rem;
  width: 10rem;
}
.modal-dialog {
      max-width: none;
      margin: 1.75rem 2rem 1.75rem 2rem;
  }
input[type="text"] {
  font-size:2rem;
}
#red{
  color: red;
}
#blue{
  color: blue;
}
h1{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 3.5rem;
  color: rgb(32,64,86);
  text-align: center;
}
footer{
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: solid rgb(255,216,143) 0.3rem;
  margin-top: 3rem;
  width: 100%;
}
.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text{
  font-size: 3rem;
}
#button{
  background-color: transparent;
}
#setting{
  background-color: transparent;
}
.input-group-text{
  font-size: 2.5rem;
}
#customsave{
  width: auto;
}
