html{
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
}
body{
  padding-top: 5.25rem;
}
h2{
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32,64,86);
}
h5{
  font-size: 1rem;
  font-weight: bold;
}
p{
  color: rgb(74,74,74);
}
.card{
  background-color: rgb(32,64,86);
  border: 4px solid #ffffff;
  border-radius: 8px;
  height: 12.5rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover{
  cursor: default;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
#win{
  text-align: center;
  color: orange;
  font-size: 10rem;
}
#hideMsg{
  font-size: 2rem;
}
span{
  color: red;
}
